<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css">
  </head>
  <body>
    <nav id="sidebar">
      <a href="{{ site.baseurl }}">Home</a>
      <strong>Behaviours</strong>
      <ul>
        {% for page in site.html_pages %}
          {% if page.url contains '/behaviour/' %}
            <li><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
      <strong>Items</strong>
      <ul>
        {% for page in site.html_pages %}
          {% if page.url contains '/item/' %}
            <li><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
      <strong>Blocks</strong>
      <ul>
        {% for page in site.html_pages %}
          {% if page.url contains '/block/' %}
            <li><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
    <section>
      {{ content }}
    </section>
    <footer>
      &copy; TechTastic 2025
    </footer>
  </body>
</html>
